alembic==1.18.5
fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.51
psycopg2
pydantic==2.12.4
python-multipart==0.0.6
pytest==7.4.3
pytest-asyncio==0.21.1
httpx==0.25.2
python-dotenv==1.0.0
psycopg2
asyncpg
elasticsearch==8.11.0
aiohttp